.patrat{
    width: 100px;
    height: 100px;
    border: 1px solid gray;
}

.cerc{
    width: 100px;
    height: 100px;
    border: 1px solid gray;
    border-radius: 50%;
}

.rosu{
    background: red;
}

.verde{
    background: green;
}

.galben{
    background: #FFFF00;
}
.albastru{
    background: blue;
}